
/*body {
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "Lucida Console", Monaco, monospace;
}*/


div {
    position: absolute;
    /*background: white;*/
    top: 0;
    left: 0;
    padding: 16px;
    max-width: 650px;
    margin: 50px;
}
/*@font-face {
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 700;
/*src: local("InputSans-Bold"),url("static/InputSans-Bold-e36ff764871076a07acbd4d1fca7297a-.eot#") format("embedded-opentype"),url("static/InputSans-Bold-64f8c778b7e8111337c7085dfb983eee.woff") format("woff"),url("static/InputSans-Bold-dbd4b22cb7b7cbcaed63c8e77372fcfa.ttf") format("opentype"),url("static/InputSans-Bold-f5263b4de3a66f7147f5655e2eb90f6b.svg#web") format("svg")*!/
}

@font-face {
font-family: 'IBM Plex Mono', monospace;
font-style: normal;
font-weight: 400;
/*src: local("InputSans-Regular"),url("static/InputSans-Regular-ea5bf5b658af165b6e7459802789a240-.eot#") format("embedded-opentype"),url("static/InputSans-Regular-71ccf9a402566bf3dbfbf60167112c6e.woff") format("woff"),url("static/InputSans-Regular-34e635c38b3ddaba521c5b6fc5bd599e.ttf") format("opentype"),url("static/InputSans-Regular-a83b0bf267e6a10cc65685fc3e091735.svg#web") format("svg")*!/
}

@font-face {
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 500;
/*src: local("InputSans-Medium"),url("static/InputSans-Medium-f914b388c9a82e7c294941b577812cb4-.eot#") format("embedded-opentype"),url("static/InputSans-Medium-84158ec8d5d6bfac23bf91b434d66ea2.woff") format("woff"),url("static/InputSans-Medium-6305e5f445c70e9e60b09f936797bb1e.ttf") format("opentype"),url("static/InputSans-Medium-8bc62343c033063e756c7f8440fb8a41.svg#web") format("svg")*!/
}*/

/*! Normalize browsers defaults */

* {
	margin: 0;
	padding: 0;
	line-height: 1;
	/*-webkit-tap-highlight-color: rgba(0,0,0,0)*/
}

html {
/*    font-family: 'Space Mono', monospace;*/
font-family: 'IBM Plex Mono', monospace;
font-style: bold;
font-weight: 400;
-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0;
	font-size: 15px;
	box-sizing: border-box;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block
}

a {
	background: transparent;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

a:active, a:hover {
	outline: 0
}

b, strong {
	font-weight: 700
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

h1, h2, h3, h4, h5, h6, p, span {
	font-size: inherit;
	margin: 0;
	font-weight: inherit;
	line-height: 1
}

ol, ul {
	list-style: none
}

::selection {
	background: #00f5bc
}

::-moz-selection {
	background: #00f5bc
}

.sign {
	/*font-size: px;*/
	font-family: 'Space Mono', monospace;
	letter-spacing: 5px;
	white-space: nowrap;
	font-weight: 700;
	overflow: hidden
}

pre-section {
		
		/*transparent;*/
}

section {
	background: white;	
	margin-top: 50px;
	border-left: 10px solid #ff0;
	padding-left: 40px;
	overflow: hidden;
	
}

section:first-child {
	margin-top: 0
}

h1, h2, p, ul {
	margin-top: 25px;
	line-height: 1.4;
	font-size: 15px;
	color: #111;
	overflow: hidden
}

ul li {
	margin-top: 10px;
	line-height: 1.4
}

h2.big, p.big {
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	font-size: 80px;
	color: #222;
	word-wrap: break-word;
	font-weight: 400
}

h1.name {

font-size: 100px;
	color: #222;
	margin-top: 0;
	font-weight: 700;
	letter-spacing: 1px
}

p:first-child {
	margin-top: 0
}

a {
	background: #ff0
}

a:hover {
	background: #00f5bc
}

b {
	font-weight: 700
}

small.date {
	margin-bottom: 50px;
	display: block
}

.star {
	color: red
}

article {
	padding-left: 50px
}

article h1 {
	font-size: 40px;
	color: #222;
	word-wrap: break-word;
	font-weight: 500;
	margin-top: 50px
}

article ul {
	padding: 0 2em;
	list-style: initial
}

article p>img {
	display: block;
	margin: 0 auto
}

.time {
	/*top: 5px;*/
	/*right: 80px;*/
	/*border-bottom:1px dashed;*/
	font-size: 16.5px;
	margin: 10px 0 0;
	/*display: inline-block;*/
	font-weight: 100;
	
}

.time:hover {
	/*top: 5px;*/
	/*right: 80px;*/
	/*border-bottom:2px dashed;*/
	font-size: 16.5px;
	/*background: #ff0;*/
	margin: 10px 0 0;
	/*display: inline-block;*!/*/
	font-weight: 500
}

/*.gatsby-resp-image-link, .gatsby-resp-image-link:hover {
	background: none
}*/

@media only screen and (max-width:480px) {
	{
		margin: 10px 20px 15px;
		padding: 15px 0
	}
	
	section {
		padding-left: 0;
		border: 0;
		margin-top: 40px
	}
	
	h2.big {
		font-size: 34px
	}
	
	h1.name {
		font-size: 24px
	}
	
	ul li {
		line-height: 1.45
	}
}